<p>
(Found <%= @games.count %> out of <%= @total %> games; filter the results with query parameters <a href="?sort=bgg_rank&best_with=[4,5]">example</a> <a href="#ref">reference</a>)
</p>

<p>
Quick Links:
  <%= link_to "Random", random_path %>
  <%= link_to %(Want to Play), root_path(num_want_to_players: "gt0", sort: "-want_to_players") %>
  <br/>
  <%= link_to %(Want to Play & Best With 4 Or 5), root_path(num_want_to_players: "gt0", best_with: "[4,5]", sort: "-want_to_players") %>
  <br/>
  <%= link_to %(No Teach), root_path(num_raters: "gt0", recommended_with: "[4,5]", sort: "-median_player_rating,-num_raters") %>
  <%= link_to %(Individual Rating), root_path(sort: "-num_raters,-median_player_rating") %>
  <%= link_to %(Group Favorites), root_path(num_raters: "gt1", sort: "-num_raters,-median_player_rating") %>
  <br/>
  <%= link_to %(Fillers), root_path(playingtime: "lte30", recommended_with: "[4,5]", sort: "random") %>
  <%= link_to %(Meaty Fillers), root_path(playingtime: "lte60", recommended_with: "[4,5]", weight: "gt2", sort: "bgg_rank") %>
  <%= link_to %(Obscure), root_path(bgg_rank: "gte500", sort: "-median_player_rating,-want_to_players") %>
  <%= link_to %(Hidden Gems), hidden_gems_path %>
  <%= link_to %(Unplayed), root_path(num_raters: 0, recommended_with: "[4,5]", sort: "bgg_rank,-want_to_players") %>
  <br/>
  <%= link_to %(BGG Rank), root_path(sort: "bgg_rank") %>
  <%= link_to %(BGG Best With 4 Or 5), root_path(best_with: "[4,5]", sort: "bgg_rank") %>
  <br/>
  Best With:
  <%= link_to %(1), root_path(best_with: 1, incl_solo: 1) %>
  <%= link_to %(2), root_path(best_with: 2, incl_2p: 1) %>
  <% [3, 4, 5, 6, 7, 8].each do |n| %>
    <%= link_to n, root_path(best_with: n) %>
  <% end %>
  <br/>
  Recommended With:
  <%= link_to %(1), root_path(recommended_with: 1, incl_solo: 1) %>
  <%= link_to %(2), root_path(recommended_with: 2, incl_2p: 1) %>
  <% [3, 4, 5, 6, 7, 8].each do |n| %>
    <%= link_to n, root_path(recommended_with: n) %>
  <% end %>
  <br/>
  Plays With:
  <%= link_to %(1), root_path(plays_with: 1, incl_solo: 1) %>
  <%= link_to %(2), root_path(plays_with: 2, incl_2p: 1) %>
  <% [3, 4, 5, 6, 7, 8].each do |n| %>
    <%= link_to n, root_path(plays_with: n) %>
  <% end %>
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">BGG Rank</th>
      <th scope="col">Median Player Rating</th>
      <th scope="col">Game</th>
      <th scope="col">Owners</th>
      <th scope="col">Want to Play</th>
      <th scope="col">Rating Breakdown</th>
      <th scope="col">Mechanics</th>
      <th scope="col">Recommended With</th>
      <th scope="col">Best With</th>
      <th scope="col">Weight</th>
      <th scope="col">Playtime</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.bgg_rank %></td>
        <td><%= game.median_player_rating %></td>
        <td>
          <a href="<%= game.href %>">
            <img src="<%= game.game.thumbnail.text.html_safe %>" />
          </a>
          <br/>
          <%= game.name %>
        </td>
        <td><%= game.owners %></td>
        <td><%= game.want_to_players %></td>
        <td><%= game.player_rating_summary %></td>
        <td>
          <ul>
            <% game.mechanics.each do |mechanic| %>
              <li><%= mechanic %></li>
            <% end %>
          </ul>
        </td>
        <td><%= game.recommended_with %></td>
        <td><%= game.best_with %></td>
        <td><%= game.weight.round(2) %></td>
        <td><%= game.playingtime %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="ref">
  <p>simple params: <%= @simple_params.inspect %></p>
  <p>collection params: <%= @collection_params.inspect %></p>
  <p>flag params: <%= @flag_params.inspect %></p>
</div>

<div>
  <h3>Mechanics Ranking</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Mechanic</th>
        <th scope="col">Ranking</th>
        <th scope="col">Num Games</th>
      </tr>
    </thead>
    <tbody>
      <% @mechanics_ranking.sort_by { |_, v| -v }.each do |mechanic, ranking| %>
        <tr>
          <td><%= link_to mechanic, root_path(mechanics: "[#{mechanic}]", sort: "-median_player_rating,-want_to_players") %></td>
          <td><%= ranking.round(1) %></td>
          <td><%= @mechanics_num_games[mechanic] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <h3>Mechanics Played</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Mechanic</th>
        <th scope="col">Num Plays</th>
      </tr>
    </thead>
    <tbody>
      <% @mechanics_played.sort_by { |_, v| -v }.each do |mechanic, plays| %>
        <tr>
          <td><%= link_to mechanic, root_path(mechanics: "[#{mechanic}]", sort: "-median_player_rating,-want_to_players") %></td>
          <td><%= plays %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <h3>Mechanics Num Games</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Mechanic</th>
        <th scope="col">Num Games</th>
      </tr>
    </thead>
    <tbody>
      <% @mechanics_num_games.sort_by { |_, v| -v }.each do |mechanic, num_games| %>
        <tr>
          <td><%= link_to mechanic, root_path(mechanics: "[#{mechanic}]", sort: "-median_player_rating,-want_to_players") %></td>
          <td><%= num_games %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
